.cards {
    margin: 0 auto;
    max-width: 768px;
    min-width: 320px;
    display: flex;
    flex-wrap: wrap;
    &__block-wrp {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        order: 1;
        &--order-sm-zero {
            @media (min-width: 480px) {
                order: 0;
            }
        }
        &--hidden {
            display: none;
            @media (min-width: 480px) {
                display: flex;
            }
        }
    }
    &__item {
        position: relative;
        flex-basis: 100%;
        max-width: 100%;
        height: 150px;
        padding: 15px;
        margin-bottom: 10px;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        flex-grow: 0;
        @media (min-width: 480px) {
            height: 155px;
        }
        &--margin-middle {
            margin-bottom: 6.5px;
        }
        &--big {
            height: 214px;
            @media (min-width: 480px) {
                height: 492px;
            }
        }
        &--big-text {
            overflow-y: scroll;
            align-items: flex-start;
            text-align: center;
            @media (min-width: 480px) {
                overflow-y: visible;
                flex-direction: column;
                justify-content: flex-start;
            }
        }
        &--middle {
            height: 102.22px;
            @media (min-width: 480px) {
                height: 241px;
            }
        }
        &--green {
            background-color: $green;
        }
        &--gray {
            background-color: $gray-1;
        }
        &--dark-gray {
            background-color: $gray-2;
        }
        &--yellow {
            background-color: $yellow;
        }
        &--red {
            background-color: $red;
        }
        &--blue {
            background-color: $blue;
        }
        &--orange {
            background-color: $orange;
        }
        &--purple {
            background-color: $purple;
        }
        &--image {
            &:hover {
                .cards__group {
                    opacity: 0;
                    &--blur {
                        opacity: 1;
                    }
                }
                &::before, &::after {
                    opacity: 1;
                }
            }
            &::before, &::after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                opacity: 0;
                transition: opacity .3s ease-in-out;
            }
            &::before {
                content: '';
                height: 61px;
                width: 61px;
                border-radius: 50px;
                background-color: white;
                z-index: 1;
            }
            &::after {
                content: '!';
                height: 41px;
                width: 61px;
                color: $red-2;
                font-size: 36px;
                line-height: 42px;
                text-align: center;
                z-index: 2;
            }
        }
        &--big-pading-sm {
            @media (min-width: 480px) {
                padding: 30px 25px;
            }
        }
    }
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transform: translate3d(0,0,0);

        & svg {
            height: 100%;
            width: 100%;
        }
        & image {
            height: 100%;
        }
        & text {
            font-size: 14px;
            line-height: 20px;
            fill: white;
            font-family: 'Roboto', 'Arial', 'sans-serif';
        }
    }
    &__group {
        transition: opacity .4s ease-in-out;
        &--blur {
            opacity: 0;
        }
    }
    &__text {
        font-size: 14px;
        line-height: 20px;
        color: black;
        max-width: 100%;
        &--white {
            color: white;
        }
        &--green-background {
            position: relative;
            background-color: $green;
            z-index: 2;
        }
        &--big {
            font-size: 18px;
            line-height: 26px;
        }
        &--left, &--right {

            width:50%;
        }
        &--left {
            text-align: left;
            margin-bottom: -5px;

            & span {
                padding-right: 5px;
            }
        }
        &--right {
            text-align: right;
            margin-bottom: -5px;

            & span {
                padding-left: 5px;
            }
        }
    }
    &__text-wrp {
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 30px;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 1px;
            border-bottom: 1px dotted black;
            z-index: 1;
        }
    }
    @media (min-width: 480px) {
        padding: 0 10px;
    }
}