.chat {
    max-width: 651px;
    height: 757px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &__dialog-wrp {
        height: 517px;
        padding: 30px 0;
        overflow-y: scroll;
    }
    &__text-wrp {
        border-top: 1px solid #ededed;
        padding: 20px 50px 30px 20px;
    }
    &__message-block {
        padding: 10px 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        &--interlocutor {
            flex-direction: row-reverse;
            & .chat__text-message {
                &::after {
                    left: -7px;
                    right: auto;
                }
            }
        }
    }
    &__new-day-wrp {
        display: flex;
        align-items: center;
    }
    &__line-block {
        height: 1px;
        width: 100%;
        background-color: $gray-4;
    }
    &__new-day-text {
        flex-shrink: 0;
        padding: 20px;
    }
    &__text-message {
        position: relative;
        max-width: calc(100% - 92px);
        padding: 15px;
        background-color: $gray-5;
        border-radius: 5px;
        color: black;
        line-height: 24px;
        font-size: 14px;

        &::after {
            content: '';
            position: absolute;
            top: 7px;
            right: -7px;
            display: block;
            height: 14px;
            width: 14px;
            border: 14px solid transparent;
            border-top: 14px solid $gray-5;
        }
        @media (min-width: 480px) {
            max-width: calc(100% - 154px);
        }
    }
    &__image-block {
        clip-path: url(#clippath-shape);
        position: relative;
        transform: translateZ(0);
    }
    &__textarea {
        font-family: 'Noto Sans', 'Arial', 'sans-serif';
        height: 129px;
        width: 100%;
        border-radius: 4px;
        border: 1px solid $gray-4;
        color: #696969;
    }
    &__message-avatar {
        height: 47px;
        width: 47px;
        margin: 0 15px;
    }
    &__button {
        display: inline-block;
        width: 144px;
        height: 41px;
        text-align: center;
        line-height: 41px;
        color: white;
        font-size: 16px;
        background: $blue-2;
        outline: none;
        border: none;
        margin-top: 20px;
        box-shadow: 0px 4px 6px rgba(15, 84, 185, 0.3);
        border-radius: 21px;
        cursor: pointer;
        font-family: 'Proxima Nova', 'Arial', 'sans-serif';
        transition: background-color .3s ease-in-out;

        &:hover {
            background-color: $blue-dark;
        }
    }
}