@font-face {
    font-family: 'Roboto';
    src:  url("/fonts/Roboto-Regular.woff2") format("woff2"), url("/fonts/Roboto-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans';
    src:  url("/fonts/NotoSans.woff2") format("woff2"), url("/fonts/NotoSans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}