.grid {
    flex-basis: 100%;
    max-width: 100%;

    &--6 {
        flex-basis: calc(50% - 5px);
        max-width: calc(50% - 5px);
    }
    &--4 {
        flex-basis: calc(33.333333% - 5px);
        max-width: calc(33.333333% - 5px);
    }
    &--8 {
        flex-basis: calc(66.666666% - 5px);
        max-width: calc(66.666666% - 5px);
    }
    @media (min-width: 480px) {
        &--4-sm {
            flex-basis: calc(33.333333% - 5px);
            max-width: calc(33.333333% - 5px);
        }
        &--8-sm {
            flex-basis: calc(66.666666% - 5px);
            max-width: calc(66.666666% - 5px);
        }
        &--wide-sm {
            flex-basis: 100%;
            max-width: 100%;
        }
    }
}