.header {
    max-width: 768px;
    width: 100%;
    height: 90px;
    background-color: #C4C4C4;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    &__text {
        text-align: center;
        line-height: 20px;
        font-size: 24px;
    }
}