    *,
     ::after,
     ::before {
        box-sizing: border-box;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: transparent;
    }

    html {
        font-size: 14px;
        font-weight: 400;
    }

    body {
        min-width: 320px;
        font-family: 'Roboto', 'Arial', 'sans-serif';
    }

    input {
        font-weight: 300;
        &:focus {
            outline: 0;
            outline-offset: 0;
        }
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input[type='number'] {
        -moz-appearance: textfield;
    }
    button,
    button:active,
    button:focus {
        outline: none;
    }

    input[type='radio'] {
        display: none;
    }

    input[type='checkbox'] {
        display: none;
    }

    input[placeholder] {
        text-overflow: ellipsis;
    }

    textarea::-webkit-input-placeholder,
    input::-webkit-input-placeholder {
        //color: $gray-text-3;
    }

     ::-moz-placeholder {
        //color: $gray-text-3;
    }

     :-ms-input-placeholder {
        //color: $gray-text-3;
    }

     :-moz-placeholder {
        //color: $gray-text-3;
    }

    textarea {
        resize: none;
        font-weight: 300;
        border-radius: 3px;
        -moz-appearance: none;
        overflow: auto;
        padding-top: 10px;
        padding-left: 20px;
        &:hover,
        &:focus {
            outline: 0;
        }
    }
