/*max-width breakouts*/
$screen-sm: 768px;
$screen-xs: 320px;





/*color variables*/
$gray-1:#e8ebed;
$gray-2:#a2a9b7;
$gray-3:#f1f3f5;
$gray-4:#bdbdbd;
$gray-5:#F1F3F5;
$blue:#90bce8;
$blue-2:#0f54b9;
$blue-dark:#0e418c;
$yellow:#FEBF26;
$orange:#ffaa87;
$red:#f55e62;
$red-2:#ff3117;
$purple:#c7abd4;
$green:#e3ebd3;
