extends  ./layout/template.pug

block content
    main.main
        .chat(style="background-image: url(/img/chat-background.jpg); margin: 30px auto;")
            .chat__dialog-wrp
                .chat__message-block.chat__message-block--interlocutor
                    .chat__text-message Это означает, что в Вашем доме, офисе, кабинете, мастерской хранятся ценности бóльшие, чем просто деньги или драгоценности, - культурные ценности. Произведения искусства, антиквариат, иные предметы коллекционирования – все это имущество, безусловно высокая стоимость которого.
                    .chat__message-avatar
                        svg(height='100%', width='100%')
                            defs
                                clipPath#clippath-shape
                                    path(d="M 23.5 0L 45.8498 16.2381L 37.313 42.5119L 9.68705 42.5119L 1.15017 16.2381L 23.5 0Z")
                            image(xlink:href="/img/avatar.jpg", height="100%", width="100%", preserveAspectRatio="xMidYMid slice").chat__image-block
                .chat__message-block
                    .chat__text-message Это означает,
                    .chat__message-avatar
                        svg(height='100%', width='100%')
                            defs
                                clipPath#clippath-shape
                                    path(d="M 23.5 0L 45.8498 16.2381L 37.313 42.5119L 9.68705 42.5119L 1.15017 16.2381L 23.5 0Z")
                            image(xlink:href="/img/avatar.jpg", height="100%", width="100%", preserveAspectRatio="xMidYMid slice").chat__image-block
                .chat__message-block.chat__message-block--interlocutor
                    .chat__text-message Это означает, что в Вашем доме, офисе, кабинете, мастерской хранятся ценности бóльшие, чем просто деньги или драгоценности, - культурные ценности. Произведения искусства, антиквариат, иные предметы коллекционирования – все это имущество, безусловно высокая стоимость которого.
                    .chat__message-avatar
                        svg(height='100%', width='100%')
                            defs
                                clipPath#clippath-shape
                                    path(d="M 23.5 0L 45.8498 16.2381L 37.313 42.5119L 9.68705 42.5119L 1.15017 16.2381L 23.5 0Z")
                            image(xlink:href="/img/avatar.jpg", height="100%", width="100%", preserveAspectRatio="xMidYMid slice").chat__image-block
                .chat__message-block
                    .chat__text-message Это означает,
                    .chat__message-avatar
                        svg(height='100%', width='100%')
                            defs
                                clipPath#clippath-shape
                                    path(d="M 23.5 0L 45.8498 16.2381L 37.313 42.5119L 9.68705 42.5119L 1.15017 16.2381L 23.5 0Z")
                            image(xlink:href="/img/avatar.jpg", height="100%", width="100%", preserveAspectRatio="xMidYMid slice").chat__image-block
                .chat__message-block.chat__message-block--interlocutor
                    .chat__text-message доме, офисе, кабинете, мастерской
                    .chat__message-avatar
                        svg(height='100%', width='100%')
                            defs
                                clipPath#clippath-shape
                                    path(d="M 23.5 0L 45.8498 16.2381L 37.313 42.5119L 9.68705 42.5119L 1.15017 16.2381L 23.5 0Z")
                            image(xlink:href="/img/avatar.jpg", height="100%", width="100%", preserveAspectRatio="xMidYMid slice").chat__image-block
                .chat__new-day-wrp
                    .chat__line-block
                    .chat__new-day-text 21 октября 2017
                    .chat__line-block
                .chat__message-block
                    .chat__text-message Это означает,
                    .chat__message-avatar
                        svg(height='100%', width='100%')
                            defs
                                clipPath#clippath-shape
                                    path(d="M 23.5 0L 45.8498 16.2381L 37.313 42.5119L 9.68705 42.5119L 1.15017 16.2381L 23.5 0Z")
                            image(xlink:href="/img/avatar.jpg", height="100%", width="100%", preserveAspectRatio="xMidYMid slice").chat__image-block
                .chat__message-block.chat__message-block--interlocutor
                    .chat__text-message доме, офисе, кабинете, мастерской
                    .chat__message-avatar
                        svg(height='100%', width='100%')
                            defs
                                clipPath#clippath-shape
                                    path(d="M 23.5 0L 45.8498 16.2381L 37.313 42.5119L 9.68705 42.5119L 1.15017 16.2381L 23.5 0Z")
                            image(xlink:href="/img/avatar.jpg", height="100%", width="100%", preserveAspectRatio="xMidYMid slice").chat__image-block
            form(action="/" method="POST").chat__text-wrp
                textarea.chat__textarea Cowkeifjowefwehifuhqiwuehfqwef wef
                button.chat__button Отправить
