extends  ./layout/template.pug

block content
    main.main
        .cards
            .cards__block-wrp
                .cards__block-wrp.grid.grid--8-sm
                    .cards__item.cards__item--gray.grid.grid--6
                        .cards__text Наши сотрудники
                    .cards__item.cards__item--gray.grid.grid--6
                        .cards__text Просветляет понимающий тест
                    .cards__item.cards__item--gray.grid
                        .cards__text Конформизм
                .cards__block-wrp.grid.grid--4-sm
                    .cards__item.cards__item--blue.grid.grid--6.grid--wide-sm
                        .cards__text Интроекция
                    .cards__item.cards__item--yellow.grid.grid--6.grid--wide-sm
                        .cards__text Наши сотрудники
            .cards__block-wrp.cards__block-wrp--order-sm-zero
                .cards__block-wrp.grid.grid--8
                    .cards__item.cards__item--dark-gray.cards__item--big.cards__item--big-text.cards__item--big-padding-sm
                        .cards__text.cards__text--white.cards__text--big Гений непредвзято понимает под собой конфликт. Закон внешнего мира, очевидно, реально подчеркивает аксиоматичный здравый смысл. Культ джайнизма включает в себя поклонение Махавире и другим тиртханкарам, поэтому закон исключённого третьего индуцирует изоморфный ротор.
                .cards__block-wrp.grid.grid--4
                    .cards__item.cards__item--dark-gray.cards__item--middle
                        .cards__text.cards__text--white Чувство однократно
                    .cards__item.cards__item--dark-gray.cards__item--middle
                        .cards__text.cards__text--white Морено
            .cards__block-wrp.cards__block-wrp--hidden
                .cards__block-wrp.grid.grid--8
                    .cards__item.cards__item--green.cards__item--big.cards__item--big-text
                        .cards__text-wrp
                            span.cards__text.cards__text--left
                                span.cards__text--green-background Фамилия
                            span.cards__text.cards__text--right
                                span.cards__text--green-background Мамай
                        .cards__text-wrp
                            span.cards__text.cards__text--left
                                span.cards__text--green-background Имя и отчество
                            span.cards__text.cards__text--right
                                span.cards__text--green-background Станиславаленина<br>Владимировна
                        .cards__text-wrp
                            span.cards__text.cards__text--left
                                span.cards__text--green-background Номер полиса выдан заведомо<br>ложный
                            span.cards__text.cards__text--right
                                span.cards__text--green-background 01354879
                        .cards__text-wrp
                            span.cards__text.cards__text--left
                                span.cards__text--green-background Дата рождения
                            span.cards__text.cards__text--right
                                span.cards__text--green-background 01.12.1976
                        .cards__text-wrp
                            span.cards__text.cards__text--left
                                span.cards__text--green-background Телефон
                            span.cards__text.cards__text--right
                                span.cards__text--green-background +79254218069
                .cards__block-wrp.cards__block-wrp--order-sm-zero.grid.grid--4
                    .cards__item.cards__item--green.cards__item--middle
                        .cards__text Понятие модернизации понимает механизм власти
                    .cards__item.cards__item--green.cards__item--middle.cards__item--image
                        .cards__image
                            svg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", class="svgBlur")
                                filter#svgBlurFilter
                                    feGaussianBlur(in="SourceGraphic", stdDeviation="3")
                                g.cards__group(x=0 y=0)
                                    image(xlink:href="/img/image.png", x="0" y="0", preserveAspectRatio="xMidYMid slice", height="100%", width="100%")
                                    text(x="15px", y="92%") Наши сотрудники
                                g.cards__group.cards__group--blur(filter="url(#svgBlurFilter)")
                                    image(xlink:href="/img/image.png", x="0" y="0", preserveAspectRatio="xMidYMid slice", height="100%", width="100%")
                                    text(x="15px", y="92%") Наши сотрудники
            .cards__block-wrp
                .cards__block-wrp.grid--8-sm
                    .cards__item.cards__item--orange.grid
                        .cards__text Однако
                    .cards__item.cards__item--orange.cards__item--not-margin-sm.grid.grid--6
                        .cards__text Точка перегиба
                    .cards__item.cards__item--purple.cards__item--not-margin-sm.grid.grid--6
                        .cards__text Длина вектора
                .cards__block-wrp.grid.grid--4-sm.cards__block-wrp--order-sm-zero
                    .cards__item.cards__item--orange.cards__item--not-margin.cards__item--margin-sm.grid.grid--6.grid--wide-sm
                        .cards__text Лидерство
                    .cards__item.cards__item--red.cards__item--not-margin.grid.grid--6.grid--wide-sm
                        .cards__text Невероятный гений