doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel="stylesheet", href="styles/styles.css")
    title Figma test
  body
    include ../html-components/header.pug
    block content
    include ../html-components/footer.pug
    script(src='scripts/vendor.bundle.js')
    script(src='scripts/common.bundle.js')